.menu-div{
    background-color: white;
    justify-content: space-around;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 0 0 ;
    box-shadow : 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  }

  .menu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;
      color: #B3B3B3;
      cursor: pointer;
  }

  .menu > p{
      font-size: 12px;
  }

  .menu-icon{
      font-size: 20px;
  }

  #choose-page{
      color:#FF6666;
  }