.selcbox * { box-sizing: border-box; }
.selcbox {
  position: relative;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 1.5px solid #C2C2C2;
  background-size: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.label > img{
    position: absolute;
    right: 10px;
}
.selcbox .label {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 15px;
  background: transparent;
  cursor: pointer;
  z-index: 100;
  font-size: 14px;
  color: rgba(194, 194, 194, 1);
}
.optionDiv{
    border: 1.5px solid #C2C2C2;
}
.selcbox .optionList {
  position: absolute; 
  top: 40px;
  left: 0;
  width: 100%;
  background: white;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in;
  z-index: 1;
}
.label> input{
    display: block;
    position: absolute;
    width: 80%;
    height: 90%;
    border: none;
}
.selcbox.active{
  border: 1.5px solid rgba(255, 102, 102, 1);
}
.selcbox.active .optionList {
  max-height: 500px;
}

.selcbox .optionItem {
  /* border-bottom: 0.5px solid #FF6666; */
  padding: 5px 15px 5px;
  transition: .1s;
}

.selcbox .optionItem:hover {
  background:rgba(194, 194, 194, 0.1);
}

.selcbox .optionItem:last-child {
  border-bottom: 0 none;
}
.selcbox .optionList::-webkit-scrollbar {width: 6px;}
.selcbox .optionList::-webkit-scrollbar-track {background: transparent; }
.selcbox .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selcbox .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}